body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('old_paper_texture.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #666;
}

#results {
    margin-top: 20px;
    text-align: center;
}

.question {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.answers label {
    display: block;
    margin-bottom: 5px;
}
